@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding:0;
  margin-right: 10px;
  opacity:0.6;
}


Footer {
display:block;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
opacity:0.9;
}

p {
  font-size: 30px;
  text-align:center
}

li {
  color:Black;
}

.well {
  padding: 20px;
  opacity: 0.7; /* opacity [0-1] */
  -moz-opacity: 0.7 /* opacity [0-1] */
  -webkit-opacity: 0.7; /* opacity [0-1] */
  background-color: white;
  
}

body { 
     padding-top: 70px; 
     position: center;
     background-position:center; 
     background-color:white;
     text-align:center;
}

.image img {
    width: 50%;
    height: 50%;
}

h2 {text-align:left}

h3 {text-align:right}
